* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #fff;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 60px;   
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin:10px 20px
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.heading {
    font-size: 3em;
    padding: 50px 0;
}

.heading {
    margin-top: 5%;
    font-size: 30px;
}

.heading h1 {
    font-size: 60px;
    margin-top: 20px;
    color:aqua;
}

.clear-fix{
    clear: both;
}

.about {
    margin-top: 30px;
}

.about h1 {
    text-decoration: underline;
    text-decoration-color: lightgreen;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 30px;
}

.about .col {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 20px 10px;
}

.about h3 {
    line-height: 1.5em;
    color: palevioletred;
}

#left {
    border-left: 5px solid red;
}

.about .col p {
    margin-top: 60px;
    line-height: 1.5em;
}